name: Android Build APK

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4 # 顺便把 checkout 也更新到 v4，这是好习惯

    - name: Set up JDK 17
      uses: actions/setup-java@v4 # setup-java 也可以更新到 v4
      with:
        java-version: '17' 
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build Debug APK
      # 加上 -x lint 可以防止因代码格式小问题导致编译失败
      run: ./gradlew assembleDebug --stacktrace -x lint

    - name: Upload APK
      uses: actions/upload-artifact@v4 # 这里必须是 v4
      with:
        name: app-debug
        path: app/build/outputs/apk/debug/app-debug.apk
